.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header {
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(255,253,253,1) 20%, rgba(230,230,230,1) 100%);
    border-bottom: 1px solid rgb(216, 212, 212);
    box-shadow: 0px 2px 5px #dbd8d8;
    margin-bottom: 10px;
    /* background-color: #f1f1f1; */
  }
  
  main {
    flex:2;
    background-color: white;
    padding-top: 30px;
    padding-left: 60px;
  }
  
  footer {
    min-height: 40px;
    padding: 10px;
    border-top: 1px solid lightgray;
    box-shadow: 3px 1px 10px #c5bdbd;
    background-color: #f1f1f1;
  }