.app-title {
    min-height: 40px;
    padding:5px;
}

nav-item {
    background-color: white;
}

h3 {
    margin-top: 10px;
    color: rgb(93, 124, 106);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 2px 5px rgb(173, 190, 178);
}