<div class="app-title container">
    <h3>$ My Cash</h3>
</div>
<div class="app-nav container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            <i class="fas fa-home"></i>  Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="beneficiaries" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">
              Beneficiaries
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">
              Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="banks" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact:true}">
              <i class="fas fa-university"></i> Banks
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact:true}">
              About
          </a>
        </li>
      </ul>
</div>

